; image_mask_generator.config
; Copyright (C) antillia.com
; 2023/07/24

[generator]
base_dir   = "./New database pictures"
output_dir = "./Smear2005-master"
resize     = 312
cropsize   = 128
seamless_cloning = False

[maskcolor]
carcinoma_in_situ    = (255,    0,   0)
light_dysplastic     = (  0,  255,   0)
moderate_dysplastic  = (  0,    0, 255)
normal_columnar      = (255,  255,   0)
normal_intermediate  = (255,    0, 255)
normal_superficiel   = (  0,  255, 255)
severe_dysplastic    = (255,  255, 255)
